# Data types

In [5]:
"""
Syllabus
*1. Introduction
*2. Basic syntax, comments
*3. Data types(string, tuple, dictionary, set, etc)
4. Operators
5. type casting 
6. Conditional statements
7. Loops
8. Functions
9. Arrays(operations on arrays)
10. OOP
11. Error handling
12. File Handling
13. Machine learning libraries(Jr Ith prynt pohachlo tr)
"""

'\nSyllabus\n*1. Introduction\n*2. Basic syntax, comments\n*3. Data types(string, tuple, dictionary, set, etc)\n4. Operators\n5. type casting \n6. Conditional statements\n7. Loops\n8. Functions\n9. Arrays(operations on arrays)\n10. OOP\n11. Error handling\n12. File Handling\n13. Machine learning libraries(Jr Ith prynt pohachlo tr)\n'

## Data types
#### Lets classify data types into 3 main data types.
#### 1.Number(Including int, float, etc)
#### 2.String
#### 3.Lists(lists, sets, dictionaries, tuples, etc)

## Numbers:
In python we have only two data types for storing numbers unlike other languages for simplicity, like we have int to store integers numbers like 1,2,3,4,5 , we have float data type to store floating point numebers like 1.2, 4.5, 2323.5 and another one which nobody asks or cares about is complex numbers 1+5j
##### in python we don't need to declare data type before varible name.

In [1]:
#int
a = 12

In [2]:
a

12

In [3]:
type(a)

int

In [4]:
b = 12.5

In [5]:
b

12.5

In [11]:
type(b)

float

In [6]:
c = 12 + 5j

In [7]:
c

(12+5j)

In [8]:
type(c)

complex

In [9]:
d = 5 +2j
c + d

(17+7j)

## More numbering systems 
##### Binary number system(bin())
##### Octal number system(oct())
##### Hexadecimal number system(hex())

In [10]:
c = 45

In [11]:
bin(c)

'0b101101'

In [12]:
oct(c)

'0o55'

In [13]:
hex(c)

'0x2d'

## What if...
##### I want to write a number as a binary, octal or hexadecimal itself in the variable?
##### to do that we have to write numbers in a specific format

In [18]:
#bin
d = 0b1010
#e = 0b1011

In [19]:
d

10

In [ ]:
#oct
e = 0o17

In [20]:
e

11

In [21]:
#hex
f = 0x12a

In [22]:
f

298

##### We can perform operations over them like...

In [23]:
d + e + f

319

## Strings
##### In python theres no char data type, we have string data type.
##### We can assign a string literal to a variable using single or double quotes

In [25]:
g = "Python"

In [26]:
h = 'Programming'

##### In python string is large library, we have many functions for it, we can perform operations on a string, we can use slicing operation on string, there are many things to do with it...

##### Concatenaton(+)

In [27]:
g+" "+h

'Python Programming'

##### Multiplication of string

In [28]:
5*g

'PythonPythonPythonPythonPython'

##### Indexing
##### Indexing in python starts from zero, which means first character of any string or list is at index zero

In [31]:
g[0]

'P'

##### g = "Python"
##### P y t h o n
##### 0 1 2 3 4 5

In [32]:
g[2]

't'

In [33]:
g[4]

'o'

In [34]:
g[6]

IndexError: string index out of range

##### Slicing 
##### We can slice the string into its parts based on its indices.
##### For slicing we use square brackets, idecies in it separate by colon
##### g[start: end: step]
#### Imp: End index is always exclusive

In [36]:
g[0:6:1]

'Python'

In [37]:
g[0:6:2]

'Pto'

In [38]:
g[2::]

'thon'

In [39]:
g[:2:]

'Py'

##### Reverse indexing
##### Reverse indexing starts from -1 from the end.
##### P y t h o n
##### -6 -5 -4 -3 -2 -1

In [40]:
g[-1:-7:-1]

'nohtyP'

In [41]:
g[::-1]

'nohtyP'

## Lists
##### Like in c++ we had arrays, in Python we have lists
##### There are two type of lists
##### 1.One dimensional list
##### 2.Multidimensional list.

In [43]:
#1D list
h=[1,2,3]

In [44]:
#3D list
i = [[1,2,3],
     [4,5,6],
     [7,8,9]]

##### Slicing in list is same as Strings

In [45]:
h[1]

2

In [46]:
i[0]

[1, 2, 3]

In [58]:
a = "Python Programming XYZ"

In [49]:
a[0:6]

'Python'

In [50]:
a[7:18]

'Programming'

In [51]:
a[19:22]

'XYZ'

In [52]:
a = [1,2 ,12 ,3,4 ,4 ]
print(a[::-1])

[4, 4, 3, 12, 2, 1]

In [55]:
a[::-1]

'ZYX gnimmargorP nohtyP'

In [56]:
a = ["Strings", "anotherstring", "etc"]

In [60]:
b = "Python"
len(b)

6

In [48]:
#Arithmetic operators
# +
# -
# * 
# /
# //
# %

In [50]:
# type casting
# str into int
## float int

In [61]:
a = 56
b =str(a)

In [63]:
b

'56'

In [64]:
c = 12.56
d = int(c)

In [66]:
d

12

In [69]:
e = float(a)
e

56.0

In [68]:
type(e)

float

In [83]:
#boolean
#True 
#False
#0 or False 
a = "dfgg"

In [74]:
a = True
b = False
if(b):
    print("Yes")

In [70]:
if(a):
    print(True)

True

In [85]:
a = 34

In [86]:
type(a)

int

In [87]:
b = str(a)

In [89]:
type(b)

str

In [99]:
a = 12

In [100]:
b = a/ 5

In [102]:
type(b)

float

2.4

In [103]:
if(bool(b)):
    print("Yes")
else:
    print("No")

Yes

In [104]:
if():
elif():
else:

IndentationError: expected an indented block (<ipython-input-104-136e4f2228ca>, line 2)

In [108]:
i = 10
while(i!=10):
    print(i)
    i=i-1
else:
    print('No')

No

In [106]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [109]:
a = ['shs', 'sds', 'fdgf']
for i in a:
    print(i)

shs
sds
fdgf