In [1]:
"""
Syllabus
*1. Introduction
*2. Basic syntax, comments
*3. Data types(string, tuple, dictionary, set, etc)
*4. Operators
5. type casting 
6. Conditional statements
7. Loops
8. Functions
9. Arrays(operations on arrays)
10. OOP
11. Error handling
12. File Handling
13. Machine learning libraries(Jr Ith prynt pohachlo tr)
"""

'\nSyllabus\n*1. Introduction\n*2. Basic syntax, comments\n*3. Data types(string, tuple, dictionary, set, etc)\n*4. Operators\n5. type casting \n6. Conditional statements\n7. Loops\n8. Functions\n9. Arrays(operations on arrays)\n10. OOP\n11. Error handling\n12. File Handling\n13. Machine learning libraries(Jr Ith prynt pohachlo tr)\n'

# Arrays = list, tuple, set, dictionary
##### List is a collection which is ordered and changeable. Allows duplicate members.
##### Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
##### Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
##### Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [2]:
a = [12, 4, 34, 343, 'Name', 'String', 'Browser', 13.5, 56.6, True, False]

In [3]:
#Accessing list
print(a[2])
print(a[-2])

34
True

In [5]:
print(a[0:6:2])

[12, 34, 'Name']

In [6]:
#Changing the items in list
a[4] = 'Surname'

In [7]:
a

[12, 4, 34, 343, 'Surname', 'String', 'Browser', 13.5, 56.6, True, False]

In [7]:
#Functions for changing items
#insert()
# In insert function we give two agruments, index number and 
# the element we want to insert
# The insert() function is used when we want to insert an particular
# element at a particular index.

In [8]:
a.insert(3, "Hello")
print(a)

[12, 4, 34, 'Hello', 343, 'Surname', 'String', 'Browser', 13.5, 56.6, True, False]

In [9]:
# #append()
# As the name suggests, it is used to append an element in the list.
# It appends the new element at the end of the present list.

In [6]:
a.append('Lenovo')

In [7]:
a

[12,
 4,
 34,
 343,
 'Name',
 'String',
 'Browser',
 13.5,
 56.6,
 True,
 False,
 'Lenovo']

In [12]:
# #extend()
# extend() function is used to extend the list.
# Means if I want to add elements from one list to another then we 
# can use extend()

In [11]:
b = [False, 'true', 'True', True, 'SSS']
a.extend(b)

In [12]:
a

[12,
 4,
 34,
 'Hello',
 343,
 'Surname',
 'String',
 'Browser',
 13.5,
 56.6,
 True,
 False,
 False,
 False,
 'true',
 'True',
 True,
 'SSS']

In [15]:
#Removing items from list
#remove()
#remove() is used to remove an item from the list.
#We can directly give an element as a argument and it 
#will remove it

In [13]:
a.remove('String')

In [18]:
a

[12,
 4,
 34,
 'Hello',
 343,
 'Surname',
 'Browser',
 13.5,
 56.6,
 True,
 'true',
 'True',
 True,
 'SSS']

In [17]:
a.remove(False)
a

[12,
 4,
 34,
 'Hello',
 343,
 'Surname',
 'Browser',
 13.5,
 56.6,
 True,
 'true',
 'True',
 True,
 'SSS']

In [19]:
# #pop()
# pop() generally removes last element of the list, 
# but we can specify index number it will remove that particular index.

In [19]:
a.pop()
a

[12,
 4,
 34,
 'Hello',
 343,
 'Surname',
 'Browser',
 13.5,
 56.6,
 True,
 'true',
 'True',
 True]

In [20]:
a.pop(5)

'Surname'

In [21]:
a

[12, 4, 34, 'Hello', 343, 'Browser', 13.5, 56.6, True, 'true', 'True', True]

In [22]:
a[5]

'Browser'

In [23]:
#del keyword
# we can use del keyword just to delete an particular element at given index
del a[5]

In [24]:
a

[12, 4, 34, 'Hello', 343, 13.5, 56.6, True, 'true', 'True', True]

In [25]:
#clear()
#clear() cleans whole list and gives empty list
a.clear()

In [26]:
a

[]

In [9]:
b = [False, 'true', 'True', True, 'SSS']

In [10]:
#Loops
for i in b:
    print(i)

False
true
True
True
SSS

In [12]:
for i in range(5):
    print(b[i])

False
true
True
True
SSS

In [13]:
#in operator
#in operator is used to check if the given element is present in list or not, return True if presents
'SSSH' in b

False

In [32]:
#We can use for strings also...
s = 'Yes'
'N' in s

False

In [14]:
s = "Hello"
'O' in s

False

In [15]:
#not in
#returns True if the element is absent
'S' not in b

True

In [16]:
s = "No"
'Y' not in s

True

In [17]:
#not in for strings
'N' not in s

False

In [35]:
#Shorthand method
[print(i) for i in b]
#error

False
true
True
True
SSS

[None, None, None, None, None]

In [ ]:
for i in b:
    print(i)

In [18]:
#List comprehension
#Write a comprehensive program to append elements containing letter 'a' from list c to newlist
c = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []
for i in c:
    if 'a' in i: #i = cherry
        newlist.append(i)
print(newlist)

['apple', 'banana', 'mango']

In [22]:
newlist.clear()

In [20]:
#Comprehensive code
for i in c: #i = banana
    newlist = [x for x in c if 'a' in x]
newlist

['apple', 'banana', 'mango']

In [24]:
newlist = [x for x in c if 'a' in x] #x = cherry if a is present in x or not
newlist

['apple', 'banana', 'mango']

In [28]:
newlist.clear()
fruits = ["apple", "banana", "cherry", "kiwi", "mango", "berry"]

In [26]:
#Problem
newlist = [x if x != "banana" else "orange" for x in fruits]

In [29]:
for x in fruits:
    if x != "banana":
        newlist.append(x)
    else:
        newlist.append("orange")

In [30]:
newlist

['apple', 'orange', 'cherry', 'kiwi', 'mango', 'berry']

In [65]:
#sorting
#We have sort function to sort lists

In [31]:
fruits.sort()
fruits

['apple', 'banana', 'berry', 'cherry', 'kiwi', 'mango']

In [32]:
a = [12,143, 54,34423,23,34,4,1]
a

[12, 143, 54, 34423, 23, 34, 4, 1]

In [37]:
a.sort()
a

[1, 4, 12, 23, 34, 54, 143, 34423]

In [34]:
#sort reverse
a.sort(reverse = True)
a

[34423, 143, 54, 34, 23, 12, 4, 1]

In [38]:
a.reverse()
a

[34423, 143, 54, 34, 23, 12, 4, 1]

In [39]:
#reverse()
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [85]:
a.reverse()
a

[1, 4, 12, 23, 34, 54, 143, 34423]

In [40]:
#copy()
r = a.copy()

In [41]:
r

[34423, 143, 54, 34, 23, 12, 4, 1]

In [43]:
#joining 2 lists
# +
list1 = [1, 2, 3, 4]
list2 = [5, 6, 7, 8]
list3 = list2+list1
list3

[5, 6, 7, 8, 1, 2, 3, 4]

In [44]:
#extend()
list1.extend(list2)
list1

[1, 2, 3, 4, 5, 6, 7, 8]

In [16]:
# append()	Adds an element at the end of the list
# clear()	Removes all the elements from the list
# copy()	Returns a copy of the list
# count()	Returns the number of elements with the specified value
# extend()	Add the elements of a list (or any iterable), to the end of the current list
# index()	Returns the index of the first element with the specified value
# insert()	Adds an element at the specified position
# pop()	Removes the element at the specified position
# remove()	Removes the item with the specified value
# reverse()	Reverses the order of the list
# sort()	Sorts the list