In [1]:
"""
Syllabus
*1. Introduction
*2. Basic syntax, comments
*3. Data types(string, tuple, dictionary, set, etc)
*4. Operators
5. type casting 
6. Conditional statements
7. Loops
8. Functions
9. Arrays(operations on arrays)
10. OOP
11. Error handling
12. File Handling
13. Machine learning libraries(Jr Ith prynt pohachlo tr)
"""

'\nSyllabus\n*1. Introduction\n*2. Basic syntax, comments\n*3. Data types(string, tuple, dictionary, set, etc)\n*4. Operators\n5. type casting \n6. Conditional statements\n7. Loops\n8. Functions\n9. Arrays(operations on arrays)\n10. OOP\n11. Error handling\n12. File Handling\n13. Machine learning libraries(Jr Ith prynt pohachlo tr)\n'

In [4]:
#tuples are the list like structure stored in braces.
a = ('a', 'b', 'c', 'd', 'e', 56)
# A tuple is a collection which is ordered and unchangeable.
a

('a', 'b', 'c', 'd', 'e', 56)

In [5]:
a.remove('a')

AttributeError: 'tuple' object has no attribute 'remove'

In [6]:
#Tuple length
#we can use len() to get length of the tuple
len(a)

6

In [7]:
#Tuple with one item
b = ('Sky',)
#We have to comma after first item to let python know its a tuple.
type(b)

tuple

In [12]:
c = (12 ,15)
type(c)

tuple

In [11]:
#Just like lists we have similar positive and negetive indexing in tuples also.
#positive indexing starting with 0
#negetive indexing starting with -1 from right hand side

In [16]:
a[-3:-5:-1]

('d', 'c')

In [40]:
#We can use in and not in in tuples also just like lists

In [17]:
'a' in a

True

In [18]:
'as' not in a

True

In [24]:
#As we know tuples can not be changed or updated,
# so to do that we have to first type cast a tuple into a list
# and then we can update it.
d = list(a)
e = ['e', 'f', 'g', 'h']

d.extend(e)
a = tuple(d)
type(a)

tuple

In [21]:
a

('a', 'b', 'c', 'd', 'e', 56, 'e', 'f', 'g', 'h', 'e', 'f', 'g', 'h')

In [25]:
#But we can a tuple to tuple
f = ('i', 'j')
a = a + f
a

('a',
 'b',
 'c',
 'd',
 'e',
 56,
 'e',
 'f',
 'g',
 'h',
 'e',
 'f',
 'g',
 'h',
 'e',
 'f',
 'g',
 'h',
 'e',
 'f',
 'g',
 'h',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j')

In [28]:
#to remove item we have same procedure as converting to list then updating the list
# and then converting back to the tuple again.
a = list(a)
a.remove('f')
a = tuple(a)

In [29]:
a

('a',
 'b',
 'c',
 'd',
 'e',
 56,
 'e',
 'g',
 'h',
 'e',
 'g',
 'h',
 'e',
 'f',
 'g',
 'h',
 'e',
 'f',
 'g',
 'h',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j')

In [30]:
#Packing and unpacking of the tuple.
i = 'appple'
j = 'banana'
k = 'coconut'
l = 'dragon fruit'
fruit = (i, j, k, l)
type(fruit)

tuple

In [31]:
fruit

('appple', 'banana', 'coconut', 'dragon fruit')

In [32]:
#Unpacking of the tuple
fruit = ("apple", "banana", "coconut", "dragon fruit")
(fst, snd, trd, fth) = fruit

In [33]:
type(fst)

str

In [35]:
tuple1 = ("dfd", 'dfgd', 'sdf')
(x, y, z) = tuple1

In [36]:
print(fst)
print(snd)
print(trd)
print(fth)
#But while unpacking the number of variables should be same as the number of elements.

apple
banana
coconut
dragon fruit

In [37]:
#Using *
#if the number of variables is less than the number of elements, then we can use * to store elements
#as a list in the asterisk * variable
(x, y, *z) = fruit

In [38]:
print(type(x))
print(type(z))

<class 'str'>
<class 'list'>

In [39]:
z

['coconut', 'dragon fruit']

In [92]:
#Looping tuple elements
#we can use both for and while loops to do that.

In [40]:
for i in fruit:
    print(i)

apple
banana
coconut
dragon fruit

In [41]:
i = 0
while i < len(fruit):
    print(fruit[i])
    i = i+1

apple
banana
coconut
dragon fruit

In [42]:
#Adding and multiplying tuples
tuple2 = (1, 3, 4, 5)
tuple3 = tuple2 + fruit
tuple3

(1, 3, 4, 5, 'apple', 'banana', 'coconut', 'dragon fruit')

In [43]:
#Multiplying tuples
tuple4 = 4*tuple2
tuple4

(1, 3, 4, 5, 1, 3, 4, 5, 1, 3, 4, 5, 1, 3, 4, 5)

In [44]:
#With tuples luckily we have only 2 functions
#1.count()
#2.index()
tuple4.count(1)

4

In [45]:
tuple4.index(4)

2

In [110]:
#In brief:
#Tuples are unmutable to modify items we have to convert it to list., we can perform packing and unpacking
# on tuples and tuple has similar indexing as lists.