In [ ]:
"""
Syllabus
*1. Introduction
*2. Basic syntax, comments
*3. Data types(string, tuple, dictionary, set, etc)
*4. Operators
5. type casting 
6. Conditional statements
7. Loops
8. Functions
9. Arrays(operations on arrays)
10. OOP
11. Error handling
12. File Handling
13. Machine learning libraries(Jr Ith prynt pohachlo tr)
"""

# Set

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

we declare sets in curly brackets{}.

In [5]:
a = {1, 3, 4, "DM", "DM"}

In [6]:
a

{1, 3, 4, 'DM'}

### Set Items
Set items are unordered, unchangeable, and do not allow duplicate values.

### Unordered
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

### Unchangeable
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

### Duplicates Not Allowed
Sets cannot have two items with the same value.

In [3]:
type(a)

set

### Get the Length of a Set
To determine how many items a set has, use the len() method.

In [7]:
len(a)

4

### set() function
we use set() to convert list or tuple into a set

In [10]:
b = [12,45 ,56,'Key']
print(type(b))
c = set(b)
print(type(c))
c

<class 'list'>
<class 'set'>

{12, 45, 56, 'Key'}

### Accessing elements
As we know sets are unordered, which means we can not access elements of set using an index number
but we can use for loop to print elements of the set.
but as we know sets are unordered which means elements can occur in any order.

In [11]:
for i in c:
    print(i)

56
Key
12
45

In [12]:
'Key' in c

True

### Change Items
Once a set is created, you cannot change its items, but you can add new items.

### Adding item to set
for doing that we have two functions.
#### 1. add()
#### 2.update()

In [13]:
c.add("Lock")

In [14]:
c

{12, 45, 56, 'Key', 'Lock'}

In [15]:
a

{1, 3, 4, 'DM'}

In [16]:
#To add items from another set into the current set, use the update() method.
c.update(a)
c

{1, 12, 3, 4, 45, 56, 'DM', 'Key', 'Lock'}

In [17]:
#updating set with list
d = ["list", "Monday", "Saturday"]
c.update(d)
c

{1, 12, 3, 4, 45, 56, 'DM', 'Key', 'Lock', 'Monday', 'Saturday', 'list'}

### Remove Item
To remove an item in a set, use the remove(), or the discard() method.

In [19]:
#remove()
c.remove('Lock')
c
#if the given item is not present in the set, python will throw an error.

KeyError: 'Lock'

In [23]:
#But not in case of discard
c.discard('dfsfsdfdsf')
c

{1, 12, 3, 4, 45, 56, 'DM', 'Monday', 'Saturday', 'list'}

You can also use the pop() method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the pop() method is the removed item.

The clear() method empties the set

In [24]:
print(a)
a.clear()
print(a)

{1, 3, 4, 'DM'}
set()

In [25]:
#The del keyword will delete the set completely
e = {1,2,6,3, 4}
print(e)
del e
print(e)

{1, 2, 3, 4, 6}

NameError: name 'e' is not defined

In [26]:
del a
del b

### Join Two Sets
There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another
#####  Both union() and update() will exclude any duplicate items.

In [31]:
a = {1, 2, 3, 'z'}
b = {'a', 'b', 'c', 'z', 777}

In [28]:
#union()
c = a.union(b)
c

{1, 2, 3, 'a', 'b', 'c', 'z'}

In [29]:
#update()
a.update(b)
a

{1, 2, 3, 'a', 'b', 'c', 'z'}

In [30]:
#There are some other functions also...
#1.intersection()
print(a)
print(b)
x =a.intersection(b)
#Intersection function will print only those common elements from both sets.
x

{1, 2, 3, 'z', 'a', 'c', 'b'}
{'z', 'a', 'c', 'b'}

{'a', 'b', 'c', 'z'}

In [32]:
#The symmetric_difference() method will return a new set, that contains only the elements that 
#are NOT present in both sets(unique elements).
print(a)
print(b)
d = a.symmetric_difference(b)
d

{'z', 1, 2, 3}
{'z', 777, 'a', 'c', 'b'}

{1, 2, 3, 777, 'a', 'b', 'c'}

In [33]:
"""
add()	Adds an element to the set
clear()	Removes all the elements from the set
copy()	Returns a copy of the set
difference()	Returns a set containing the difference between two or more sets
difference_update()	Removes the items in this set that are also included in another, specified set
discard()	Remove the specified item
intersection()	Returns a set, that is the intersection of two other sets
intersection_update()	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	Returns whether two sets have a intersection or not
issubset()	Returns whether another set contains this set or not
issuperset()	Returns whether this set contains another set or not
pop()	Removes an element from the set
remove()	Removes the specified element
symmetric_difference()	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	inserts the symmetric differences from this set and another
union()	Return a set containing the union of sets
update()	Update the set with the union of this set and others
"""

'\nadd()\tAdds an element to the set\nclear()\tRemoves all the elements from the set\ncopy()\tReturns a copy of the set\ndifference()\tReturns a set containing the difference between two or more sets\ndifference_update()\tRemoves the items in this set that are also included in another, specified set\ndiscard()\tRemove the specified item\nintersection()\tReturns a set, that is the intersection of two other sets\nintersection_update()\tRemoves the items in this set that are not present in other, specified set(s)\nisdisjoint()\tReturns whether two sets have a intersection or not\nissubset()\tReturns whether another set contains this set or not\nissuperset()\tReturns whether this set contains another set or not\npop()\tRemoves an element from the set\nremove()\tRemoves the specified element\nsymmetric_difference()\tReturns a set with the symmetric differences of two sets\nsymmetric_difference_update()\tinserts the symmetric differences from this set and another\nunion()\tReturn a set containing the union of sets\nupdate()\tUpdate the set with the union of this set and others\n'

In [35]:
print(a)
print(b)
a.isdisjoint(b)

{'z', 1, 2, 3}
{'z', 777, 'a', 'c', 'b'}

False

{1, 2, 3, 'a', 'b', 'c', 'z'}